
doctype html
html
  include Layout
  style
    include ../src/stylesheets/HomeStyle.css
  //- script
  //-   include ../src/javascripts/HomeScript.js
  body
    include NavbarView
    .container-tab
      .div-title
        h4
          i.fas.fa-tachometer-alt
            |  &nbsp;  Tổng quan      
      .container-fluid      
        .row(style="margin-right:20px")
          // Count item widget
          //- .row.col-md-6
          .col-md-4
            #student-selection.selection
              .wrapper.count-title.d-flex
                .icon
                  i.fas.fa-user-graduate
                .name
                  strong.text-uppercase Nhân viên 
                  br
                  span Số lượng : 
                  //- p#numberStudent

      //-     .col-md-4
      //-       #teacher-selection.selection
      //-         .wrapper.count-title.d-flex
      //-           .icon
      //-             i.fas.fa-chalkboard-teacher
      //-           .name
      //-             strong.text-uppercase  Quản lý
      //-             br
      //-             span Số lượng : 
      //-     //- .row.col-md-6
      //-     .col-md-4
      //-       #class-selection.selection
      //-         .wrapper.count-title.d-flex
      //-           .icon
      //-             i.fas.fa-house-user
      //-           .name
      //-             strong.text-uppercase Mac Address
      //-             br
      //-             span Số lượng:
      //-   .row(style="margin-right:20px; margin-top:50")
      //-     // Count item widget
      //-     //- .row.col-md-6
      //-     .col-md-4
      //-       #student-selection.selection
      //-         .wrapper.count-title.d-flex
      //-           .icon
      //-             i.fas.fa-user-graduate
      //-           .name
      //-             strong.text-uppercase Danh sách chấm công theo ngày
      //-             br
      //-             span Số lượng : 
      //-             //- p#numberStudent

      //-     .col-md-4
      //-       #subject-selection.selection
      //-         .wrapper.count-title.d-flex
      //-           .icon
      //-             i.fas.fa-chalkboard-teacher
      //-           .name
      //-             strong.text-uppercase  danh sách chấm theo tháng
      //-             br
      //-             span Số lượng : 
      //-     //- .row.col-md-6
      //-     .col-md-4
      //-       #class-selection.selection
      //-         .wrapper.count-title.d-flex
      //-           .icon
      //-             i.fas.fa-house-user
      //-           .name
      //-             strong.text-uppercase Danh sách đi muộn theo tháng
      //-             br
      //-             span Số lượng:  
      //-     //- .col-md-3
      //-     //-   #subject-selection.selection
      //-     //-     .wrapper.count-title.d-flex
      //-     //-       .icon
      //-     //-         i.fas.fa-book
      //-     //-       .name
      //-     //-         strong.text-uppercase Danh sách đi muộn
      //-     //-         br
      //-     //-         span Số lượng: 


