doctype html
html
  include Layout
  style
    include ../src/stylesheets/MacStyle.css
  script
    include ../src/javascripts/MacScript.js
  body
    include NavbarView
    include ../src/modals/AddMacModal
    include ../src/modals/EditMacAddressModal
    .container-tab
      .div-title
        h4
          i.fas.fa-address-book
            |  &nbsp;  Địa chỉ mac
      .div-search
        button#btnAddMacOnServer.btn.btn-primary(type="button" style='margin-bottom:6px;margin-left:10px;')
              i.fas.fa-plus-circle
                | &nbsp;  Thêm địa chỉ mac của server
        #tableMacAddress