.container-fluid
    .div-logo
        img(src='/images/img_logo_bk.png')
        .dropdown
            button#btn-drop.btn.dropdown-toggle(type='button' data-toggle='dropdown')
                | admin
            .dropdown-menu
                button#changepass.dropdown-item(type='button' data-toggle='modal' data-target='#changePass')
                    i.fas.fa-key
                        | &nbsp; Đổi mật khẩu
                button#logout.dropdown-item( type="button" onclick="logout()")
                    i.fas.fa-sign-out-alt
                        | &nbsp; Đăng xuất 

    .sidebar
        .tab-content
            .tab-pane.active
                nav.sidebar-nav
                    ul.main-menu.metismenu
                        li#tabHome.li-tab 
                            a(href='/admin/home')  
                                i.fas.fa-tachometer-alt 
                                    | &nbsp; Tổng quan
                        li#tabEmployee.li-tab
                            a(href='/admin/employee')
                                i.fas.fa-users
                                    | &nbsp; Nhân viên
                        li#tabAdmin.li-tab
                            a(href='/admin/admin')
                                i.fas.fa-user-lock
                                    | &nbsp; Admin
                        li#tabMac.li-tab
                            a(href='/admin/mac') 
                                i.fas.fa-address-book
                                    | &nbsp; Địa chỉ Mac 
                        li#tabTimekeeping.li-tab
                            a(href='/admin/timekeeping') 
                                i.fas.fa-user-clock
                                    | &nbsp; Chấm công
    
include ../src/modals/ChangePassModal
include ../src/modals/LoadingModal

