doctype html
html
    include Layout
    style
        include ../src/stylesheets/TimekeepingStyle.css
    script
        include ../src/javascripts/TimekeepingScript.js
    body
        include NavbarView
        .container-tab
            .div-title
                h4#calender
                    i.fas.fa-user-clock
                        |  &nbsp;  Danh sách chấm công   &nbsp;
            .col-md-10.col-sm-10.col-10.offset-md-1( style='margin-top:50px;')
                button#btnSearchEmployee.btn.btn-primary(type="button" style='margin-right:20px;'  onclick='redirectListTimekeepingMonth()')
                    i.fas.fa-list
                        | &nbsp;  Danh sách chấm công theo tháng
                button#btnSearchEmployee.btn.btn-danger(type="button" style='margin-right:20px;'  onclick='redirectListTimekeepingDay(1)')
                    i.fas.fa-list
                        | &nbsp;  Danh sách chấm công theo ngày