doctype html
html
    include Layout
    style
        include ../src/stylesheets/TimekeepingMonthStyle.css
    script
        include ../src/javascripts/TimekeepingDayScript.js
    body
        include NavbarView
        //- include ../src/modals/AddAdminModal
        //- include ../src/modals/EditAdminModal
        .container-tab
            .div-title
                h4#calender
                    i.fas.fa-user-clock
                        |  &nbsp;  Danh sách chấm công ngày  &nbsp;
            .div-search
                .col-md-10.col-sm-10.col-10.offset-md-1
                    .row 
                        .col-md-6.col-sm-6.col-6
                            .row
                                label.col-md-5.col-sm-5.col-5(style='margin-top:6px') Nhập tên nhân viên:
                                .col-md-6.col-sm-6.col-6
                                    input#txtNameEmployee.form-control(type="text" placeholder="Nhập tên nhân viên")
                        .col-md-6.col-sm-6.col-6
                            .row
                                label.col-md-5.col-sm-5.col-5(style='margin-top:6px') Nhập mã nhân viên :
                                .col-md-6.col-sm-6.col-6
                                    input#txtCodeEmployee.form-control(type="text" placeholder="Nhập mã nhân viên")
                .col-md-10.col-sm-10.col-10.offset-md-1(style='margin-top:20px;')
                    .row
                        .col-md-4.col-sm-4.col-4
                            .row
                                label.col-md-5.col-sm-5.col-5(style='margin-top:6px') Ngày:
                                .col-md-6.col-sm-6.col-6
                                    input.datepicker#date(data-date-format='yyyy-mm-dd' )
                .col-md-11.col-sm-11.col-11.offset-md-1(style='margin-top:20px')
                    .row
                        .col-md-3.col-sm-3.col-3.offset-md-2
                            button#btnSearch.btn.btn-primary(type="button" style='margin-right:20px;'  onclick='searchTimekeeping(1)')
                                i.fas.fa-search
                                    | &nbsp;  Tìm kiếm
                        .col-md-3.col-sm-4.col-3
                            button#btnSearchEmployee.btn.btn-success(type="button" style='margin-right:20px;'  onclick='confirmTimekeeping()')
                                i.far.fa-check-square
                                    | &nbsp;  Duyệt chấm công
                        .col-md-3.col-sm-4.col-3
                            button#btnSearchEmployee.btn.btn-danger(type="button" style='margin-right:20px;'  onclick='deleteTimekeeping()')
                                i.far.fa-check-square
                                    | &nbsp;  Hủy chấm công
            #tableTimekeeping