/* @import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
} */

body {
    background-color: #f3f5f9;
}

/* .container-tab {
    margin-left: 240px;
}

.container-tab .div-title h4 {
    margin-top: 10px;
    color: rgb(74, 99, 104);
    margin-left: 5px;
} */

.container-tab .container-fluid th {
    text-align: center;
}

.container-tab .container-fluid .table {
    margin-top: 20px;
    margin-bottom: 50px;
}

#editStu {
    background-color: #f3f5f9;
    border-color: #f3f5f9;
    color: #28a745;
    padding: 0px;
    margin-left: 2px;
    margin-right: 2px;
}

#deleteStu {
    background-color: #f3f5f9;
    border-color: #f3f5f9;
    color: red;
    padding: 0px;
    margin-left: 2px;
}

.container-tab .container-fluid .table tr {
    font-size: 15px;
    /* background-color: #f3f5f9 ;  */
}

.container-tab .container-fluid .table tr i {
    height: 20px;
    width: 20px;
}

.container-tab .container-fluid .table tr:hover {
    background-color: #b9fafa;
}

#btnSearch {
    margin-left: 10px;
}

#txtMssv {
    margin-left: 20px;
}

#btnImport {
    margin-right: 10px;
}

#tableStudent thead tr {
    background-color: #56e2e2;
}

#paginateStudent {
    margin-left: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
}

#addStudent {
    margin-left: 10px;
    margin-right: 10px;
}

#detailStu {
    background-color: #f3f5f9;
    border-color: #f3f5f9;
    color: #007bff;
    padding: 0px;
    margin-right: 2px;
}

#avatar {
    height: 200px;
    width: 170px;
}