body {
    background-color: #f3f5f9;
}

/* .container-tab {
    margin-left: 240px;
}

.container-tab .div-title h4 {
    margin-top: 10px;
    color: rgb(74, 99, 104);
    margin-left: 5px;
} */

#tableSubject th {
    text-align: center;
}

#tableSubject thead tr {
    background-color: #56e2e2;
}

#tableSubject tr td:hover {
    background-color: #b9fafa;
}

#tableSubject .table tr {
    font-size: 15px;
}

#tableSuject .table {
    margin-top: 20px;
    margin-bottom: 50px;
}

#editSub {
    background-color: #f3f5f9;
    border-color: #f3f5f9;
    color: #28a745;
    padding: 0px;
    margin-left: 2px;
    margin-right: 2px;
}

#deleteSub {
    background-color: #f3f5f9;
    border-color: #f3f5f9;
    color: red;
    padding: 0px;
    margin-left: 2px;
}