script
  include ../../node_modules/dropify/dist/js/dropify.js
style
  include ../../node_modules/dropify/dist/css/dropify.css
#addEmployeeModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='addEmployeeTitle' aria-hidden='true')
  .modal-dialog.modal-lg
    .modal-content(style='color: #007bff')
      .modal-header(style='background-color: #d8061a')
        h5.modal-title(style='color: white;')
          i.fas.fa-user-plus(aria-hidden='false')
          |   Thêm nhân viên
        button.close(type='button' data-dismiss='modal' aria-label='Close' style='color: white;' )
          span(aria-hidden='true') &times;
      .modal-body(style='margin-bottom:20px;background-color: #f3f5f9;')
        .row(style='margin-bottom:20px;')
          mixin propEmployee(id,title,type)
            .row(style='margin-top:20px;')
              label.col-md-4.col-sm-4.col-4(style='padding-top:6px;padding-right:10px;') #{title}:
              .col-md-8.col-sm-8.col-8(style='margin-bottom:20px;')
                input.form-control(type=type id=id maxlength="100") 
          .col-md-6.col-sm-6.col-6
            + propEmployee('txtAddFirstName','Họ và đệm','text')
            + propEmployee('txtAddLastName','Tên','text')
            + propEmployee('txtEmployeeCode','Mã nhân viên','text')
            + propEmployee('txtAddPhone','Số điện thoại','number')
            .row(style='margin-top:20px;')
              label.col-md-4.col-sm-4.col-4(style='padding-right:10px') Ngày sinh:
              .col-md-8.col-sm-8.col-8
                input.datepicker#txtAddBirthday(data-date-format='yyyy-mm-dd')
          .col-md-6.col-sm-6.col-6
            + propEmployee('txtAddAddress','Địa chỉ','text')
            + propEmployee('txtAddEmail','Email','text')
            + propEmployee('txtDepartment','Bộ phận','text')
            + propEmployee('txtPosition','Vị trí','text')
            .row(style='margin-top:20px;')
              label.col-md-4.col-sm-4.col-4(style='padding-right:10px;') Giới tính:
              .col-md-8.col-sm-8.col-8
                .row
                  .form-check(style='margin-left:15px')
                    input#addSexMale.form-check-input(type='radio' name='groupOfMaterialRadios' checked='true')
                    label.form-check-label(for='materialGroupExample1') Nam
                  .form-check(style='margin-left:30px')
                    input#addSexFemale.form-check-input(type='radio' name='groupOfMaterialRadios' )
                    label.form-check-label(for='materialGroupExample2') Nữ
            //- .row(style='margin-top:20px;')
            //-   label.col-md-4.col-sm-4.col-4(style='padding-top:6px;padding-right:10px;') Ảnh đại diện:
            //-   .col-md-8.col-sm-8.col-8
            //-     input#ImageEmployee.dropify(type='file' name="avatar" data-max-file-size="10M" accept="image/x-png,image/gif,image/jpeg")
      .modal-footer
        button.btn.btn-secondary(type='button' data-dismiss='modal') Đóng
        button.btn.btn-danger(type='button' onclick="addEmployee()") Thêm nhân viên 
//- script
//- include ../javascripts/CustomInputImageScript.js

