script
  include ../../node_modules/dropify/dist/js/dropify.js
style
  include ../../node_modules/dropify/dist/css/dropify.css
#editEmployeeModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='editEmployeeTitle' aria-hidden='true')
  .modal-dialog.modal-lg
    .modal-content(style='color: #17a2b8')
      .modal-header(style='background-color: #06b5d8')
        h5.modal-title(style='color: white;')
          i.fas.fa-user-plus(aria-hidden='false')
          |   Chỉnh sửa nhân viên
        button.close(type='button' data-dismiss='modal' aria-label='Close' style='color: white;' )
          span(aria-hidden='true') &times;
      .modal-body(style='margin-bottom:20px;background-color: #f3f5f9;')
        .row(style='margin-bottom:20px;')
          mixin propEmployee(id,title,type)
            .row(style='margin-top:20px;')
              label.col-md-4.col-sm-4.col-4(style='padding-top:6px;padding-right:10px;') #{title}:
              .col-md-8.col-sm-8.col-8(style='margin-bottom:20px;')
                input.form-control(type=type id=id maxlength="100") 
          .col-md-6.col-sm-6.col-6
            + propEmployee('txtEditFirstName','Họ và đệm','text')
            + propEmployee('txtEditLastName','Tên','text')
             + propEmployee('txtEditEmployeeCode','Mã nhân viên','text')
            + propEmployee('txtEditPhone','Số điện thoại','number')
            .row(style='margin-top:20px;')
              label.col-md-4.col-sm-4.col-4(style='padding-right:10px') Ngày sinh:
              .col-md-8.col-sm-8.col-8
                input.datepicker#txtEditBirthday(data-date-format='yyyy-mm-dd' )
          .col-md-6.col-sm-6.col-6
            + propEmployee('txtEditAddress','Địa chỉ','text')
            + propEmployee('txtEditEmail','Email','text')
            + propEmployee('txtEditDepartment','Bộ phận','text')
            + propEmployee('txtEditPosition','Vị trí','text')
            .row(style='margin-top:20px;')
              label.col-md-4.col-sm-4.col-4(style='padding-right:10px;') Giới tính:
              .col-md-8.col-sm-8.col-8
                .row
                  .form-check(style='margin-left:15px')
                    input#editSexMale.form-check-input(type='radio' name='groupOfMaterialRadios' )
                    label.form-check-label(for='materialGroupExample1') Nam
                  .form-check(style='margin-left:30px')
                    input#editSexFemale.form-check-input(type='radio' name='groupOfMaterialRadios')
                    label.form-check-label(for='materialGroupExample2') Nữ
            
            #idEmployee
            //- .row(style='margin-top:20px;')
            //-   label.col-md-4.col-sm-4.col-4(style='padding-top:6px;padding-right:10px;') Ảnh đại diện:
            //-   .col-md-8.col-sm-8.col-8
            //-     input#ImageEmployee.dropify(type='file' name="avatar" data-max-file-size="10M" accept="image/x-png,image/gif,image/jpeg")
      .modal-footer
        button.btn.btn-secondary(type='button' data-dismiss='modal') Đóng
        button.btn.btn-danger(type='button' onclick="saveEmployee()") Lưu 
//- script
//- include ../javascripts/CustomInputImageScript.js

