#modalLoad.modal(tabindex='-1' role='dialog' data-backdrop='static' data-keyboard='false')
    .modal-dialog.modal-sm.modal-dialog-centered(role='document')
        .modal-content.text-center.py-3
            .modal-body.text-center
                i.fa.fa-spinner.text-success.fa-spin(style='font-size: 40px;')
                .col-md-12.text-center.mt-2
                    span Đang x&#x1EED; l&yacute;